<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bego.backend.todo.mapper.TodoMapper">
    <sql id="SearchFrom">
        FROM todos t
        <if test="tagId != null">
            JOIN todo_tags tt
              ON tt.todo_id = t.id
             AND tt.user_id = t.user_id
             AND tt.tag_id = #{tagId}
        </if>
    </sql>

    <sql id="SearchWhere">
        <where>
            t.user_id = #{userId}
            AND t.deleted_at IS NULL
            <if test="status != null and status != ''">
                AND t.status = #{status}
            </if>
            <if test="priority != null and priority != ''">
                AND t.priority = #{priority}
            </if>
            <if test="keywordLike != null and keywordLike != ''">
                AND (
                    t.title LIKE #{keywordLike} ESCAPE '\\'
                    OR t.description LIKE #{keywordLike} ESCAPE '\\'
                )
            </if>
            <if test="dueFrom != null">
                AND t.due_at &gt;= #{dueFrom}
            </if>
            <if test="dueTo != null">
                AND t.due_at &lt;= #{dueTo}
            </if>
        </where>
    </sql>

    <select id="searchActivePage" resultType="com.bego.backend.todo.entity.TodoEntity">
        SELECT DISTINCT t.*
        <include refid="SearchFrom"/>
        <include refid="SearchWhere"/>
        <choose>
            <when test="sort == 'UPDATED_DESC'">
                ORDER BY t.updated_at DESC
            </when>
            <when test="sort == 'CREATED_DESC'">
                ORDER BY t.created_at DESC
            </when>
            <when test="sort == 'DUE_ASC'">
                ORDER BY CASE WHEN t.due_at IS NULL THEN 1 ELSE 0 END, t.due_at ASC, t.updated_at DESC
            </when>
            <otherwise>
                ORDER BY
                  CASE WHEN t.status = 'TODO' THEN 0 ELSE 1 END,
                  CASE WHEN t.due_at IS NULL THEN 1 ELSE 0 END,
                  t.due_at ASC,
                  t.updated_at DESC
            </otherwise>
        </choose>
        LIMIT #{limit}
        OFFSET #{offset}
    </select>

    <select id="countSearchActive" resultType="long">
        SELECT COUNT(DISTINCT t.id)
        <include refid="SearchFrom"/>
        <include refid="SearchWhere"/>
    </select>
</mapper>
